.artist-list {

  span {
    font-size: 1.9vw;
  }
}

@media(max-width: 960px) {
  .artist-list {

    span {
      font-size: 2.4rem;
    }
  }

}

@media(max-width: 640px) {
  .artist-list {
     span {
      font-size: 2.2rem;
    }
  }
}
