<div class="content">
  <div *ngFor="let exhibitionObj of exhibitionsList">
    <div class="list-block" *ngIf="exhibitionObj.list.length">
      <div class="right-block">
        <a class="exhibition"
           routerLink="{{getUrl(exhibition)}}"
           *ngFor="let exhibition of exhibitionObj.list">
          <app-preload-image
            hideDescription="true"
            [data]="exhibition['images'][0]">
          </app-preload-image>
          <aside class="panel">
            <h2>{{getH1(exhibition)}}</h2>
            <div class="sub-panel">
              <h3 *ngIf="exhibition['artist']">{{exhibition['title']}}</h3>
              <div class="date">
                <h3 class="float-left">
                  {{exhibition['startDate'] | date: 'MMMM dd'}}
                  — {{exhibition['endDate'] | date: 'MMMM dd, yyyy'}}
                </h3>
              </div>
            </div>
          </aside>
        </a>
      </div>
    </div>
  </div>
</div>

