<nav>
  <div class="wrap">
    <a class="logo" routerLink="">LA SALITA</a>
    <ul class="links">
      <li>
        <a routerLink="collaborators" routerLinkActive="active">Collaborators</a>
      </li>
      <li>
        <a routerLink="programming" routerLinkActive="active">Programming,</a>
      </li>
      <li>
        <a routerLink="exhibitions" routerLinkActive="active">Exhibitions,</a>
      </li>
      <li>
        <a routerLink="conversations" routerLinkActive="active">Conversations,</a>
      </li>
    </ul>
    <div class="mobile-menu" (click)="showMobileNav = !showMobileNav">. . .</div>
  </div>
</nav>

<div id="links-mobile" class="standard-container" *ngIf="showMobileNav" [@opacityAnimation]>
  <div class="mobile-menu white" (click)="showMobileNav = !showMobileNav">. . .</div>
  <ul class="links" (click)="showMobileNav = false">
    <li>
      <a routerLink="conversations" routerLinkActive="active">Conversations</a>
    </li>
    <li>
      <a routerLink="exhibitions" routerLinkActive="active">Exhibitions</a>
    </li>
    <li>
      <a routerLink="programming" routerLinkActive="active">Programming</a>
    </li>
    <li>
      <a routerLink="collaborators" routerLinkActive="active">Collaborators</a>
    </li>
  </ul>
</div>

